**.iml
**/local.properties
.idea/*.xml
.idea/libraries
.idea/modules
.idea/shelf
.idea/sonarlint
**.DS_Store
**/build
**/captures
**.externalNativeBuild
**/app/release/
**/app/prod/
**/app/mock/
**/app/.cxx/
**/apk
*.jks
.gradle
