name: Android Develop CI

on:
  pull_request:
    branches:
      - 'develop'
  push:
    branches:
      - 'develop'

jobs:
  detekt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle.kts') }}-${{ hashFiles('buildSrc/src/main/kotlin/Deps.kt') }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Run Lint
        run: ./gradlew lint

      - name: Upload detekt and lint reports
        uses: actions/upload-artifact@v1
        with:
          name: quality_check
          path: ./app/build/reports/

  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle.kts') }}-${{ hashFiles('buildSrc/src/main/kotlin/Deps.kt') }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Presentation Unit Tests
        run: bash ./gradlew :app:testDebugUnitTest

      - name: Run Data Unit Tests
        run: bash ./gradlew :data:testDebugUnitTest

      - name: Run Domain Unit Tests
        run: bash ./gradlew :domain:test

# Disable UI test because it takes too much time
#  instrumented-tests:
#    name: Run Android Tests
#    runs-on: macos-latest
#    timeout-minutes: 30
#    strategy:
#      matrix:
#        api-level: [29] #[21, 23, 29]
#        target: [default] #[default, google_apis]
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#
#      - name: Set up JDK 11
#        uses: actions/setup-java@v2
#        with:
#          distribution: 'adopt'
#          java-version: 11
#
#      - name: Cache dependencies
#        uses: actions/cache@v2
#        with:
#          path: ~/.gradle
#          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle.kts') }}-${{ hashFiles('buildSrc/src/main/kotlin/Deps.kt') }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
#          restore-keys: |
#            ${{ runner.os }}-gradle-
#
#      - name: Run All Android Tests
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          api-level: ${{ matrix.api-level }}
#          target: ${{ matrix.target }}
#          arch: x86_64
#          script: bash ./gradlew connectedCheck
#
#      - name: Upload connected tests artifact
#        uses: actions/upload-artifact@v1
#        with:
#          name: emulator_tests_29
#          path: ./app/build/reports/androidTests/connected