name: Android Main CI

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

jobs:
  detekt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Run Lint
        run: ./gradlew lint

      - name: Upload detekt reports
        uses: actions/upload-artifact@v1
        with:
          name: quality_check
          path: ./app/build/reports/

  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Run Release Unit Tests
        run: bash ./gradlew testReleaseUnitTest

  # Disable UI test because it takes too much time
  #  instrumented-tests:
  #    name: Run Android Tests
  #    runs-on: macos-latest
  #    timeout-minutes: 30
  #    strategy:
  #      matrix:
  #        api-level: [29] #[21, 23, 29]
  #        target: [default] #[default, google_apis]
  #
  #    steps:
  #      - name: Checkout
  #        uses: actions/checkout@v2
  #
  #      - name: Set up JDK 11
  #        uses: actions/setup-java@v2
  #        with:
  #          distribution: 'adopt'
  #          java-version: 11
  #
  #      - name: Run All Android Tests
  #        uses: reactivecircus/android-emulator-runner@v2
  #        #continue-on-error: true
  #        with:
  #          api-level: ${{ matrix.api-level }}
  #          target: ${{ matrix.target }}
  #          arch: x86_64
  #          script: bash ./gradlew connectedCheck
  #
  #      - name: Upload emulator tests artifact
  #        uses: actions/upload-artifact@v1
  #        with:
  #          name: emulator_tests
  #          path: ./app/build/reports/androidTests/connected

  apk:
    name: Generate APK
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Build Release APK
        run: bash ./gradlew assembleRelease --stacktrace

      - name: Upload Release APK
        uses: actions/upload-artifact@v1
        with:
          name: apk
          path: ./app/build/outputs/apk/release/app-release.apk

      - name: Upload mapping file
        uses: actions/upload-artifact@v1
        with:
          name: mapping
          path: ./app/build/outputs/mapping/release/mapping.txt